
.controller {
    padding:5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    --element_width: 340px;
    background: #1c1c1c;
}

/* Header */

.header {
    display: flex;
    width: var(--element_width);
    justify-content: space-between;
}

.header_title { }

.header_select { }

.controller_main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: calc(96vh - 70px);
}

.being_dragged {
    opacity: 0.5;
}

/* Node block */

.nodeblock {
    margin: 5px;
    position: relative;
    width: var(--element_width);
    min-height: 40px;
}

.nodeblock_titlebar {
    font-size: 70%;
    display: block;
    width: 100%;
    padding: 3px;
    color: #b3b3b3;
}

.nodeblock_draghandle {
    padding-right: 4px;
    font-size:110%;
}

.nodeblock_title {
    text-align: left;
}

.nodeblock_image {
    width:100%;
}

.nodeblock_image_panel {
    width:100%;
}

.nodeblock_image_empty {
    width: 100%;
    height: 10px;
    border: none;
    display:block;
}

/* Entry (widget) */

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:4px;
}

.entry_label {
    font-size: 65%;
    max-width: 80px;
    min-width: 80px;
    text-align: right;
    margin-right: 4px;
}

.input {
    width:100%;
    margin-bottom: 2px;
}

textarea.input {
    height: 72px;
    resize: vertical;
}

.slider_outer {
    width: 100%;
}

.slider_slider {
    width: 200px;
    margin: 0px;
}

.slider_text {
    font-size: 80%;
    border: thin inset;
    background-color: #514141;
    padding: 1px;
    position: relative;
    bottom: 3px;
    display: inline-block;
    text-align: right;
    width: 46px;
}


/* Footer */

.controller_footer {
    width:100%
}

.advanced {

}

.advanced_controls {
    margin: 5px;
    padding: 2px;
    font-size: 75%;
}

.submit_button {
    margin: 5px 30px 5px 30px;
    padding: 2px;
    background-color: #451010;
    width: 120px;
}


/* Global */

.hidden {
    display:none;
}

.advanced_hidden {
    display:none;
}