/* Menu */

.controller-menu-button {
    color: var(--p-button-text-secondary-color);
    cursor: pointer;
    font-size: 14pt;
    padding-right: 4px;
}

.showing {
    color: var(--p-button-text-primary-color);
}

.controller {
    --font-size: 12px;
    --element_width: 100%;

    --main-fore-color: #ffffff;
    --mid-fore-color: #c5c5c5;
    --muted-fore-color: #999999;

    --deep-back-color: #000000;
    --main-back-color: #1c1c1cee;
    --second-back-color: #222222;
    --third-back-color:  #353535;

    --overlay-background:  #ffffff66;
    --overlay-foreground: #353535;

    --toggle-on: #8899aa;
    --toggle-off: #333333;

    --main-border-color: rgb(83 83 83);


    font-size: var(--font-size);
    height:100%;
    min-height: 42px;
    background: var(--main-back-color);
    padding: 0 0 0 2px;
    position: absolute;

    min-width: 215px;
    overflow: clip scroll;
    border-width: 4px;
    border-style: solid;
    border-color: var(--main-border-color);
    border-radius: 4px;
    resize: both;
    z-index:999;
    scrollbar-width: thin;
    scrollbar-color: var(--third-back-color) var(--main-back-color);
    pointer-events: all;
    user-select: none;
}

.controller.collapsed {
    overflow: clip;
    min-width: 0px;
    width: 128px;
}

.header_button.collapse_button {
    color: var(--p-button-text-primary-color);
    padding-right: 6px;
    padding-left:2px;
}

.controller.collapsed .header_button.collapse_button {
    color: var(--mid-fore-color);
}

/* Header */

.header {
    position: sticky;
    top: 0px;
    z-index: 40000;
    background: var(--second-back-color);
    display: flex;
    width: var(--element_width);
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    flex-wrap: wrap;
    z-index:1;
}

.subheader {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--third-back-color);
    padding: 8px 4px 8px 4px;
    justify-content: flex-end;
    align-items: center;
}

.subheader1 {
    cursor:grab;
}

.controller.being_dragged .subheader1 {
    cursor:grabbing;
}

.subheader2 {

}

.header_title {
    font-family: Arial, sans-serif;
    font-size:13px;
    flex-grow:1;
    text-align: center;
 }

.header_select {
    max-width: var(--element_width);
    color: var(--main-fore-color);
 }

.header_button {
    cursor: pointer;
    font-size: 12pt;
    color: var(--mid-fore-color);
    padding-left: 6px;
    padding-right: 2px;
}

.clicked {
    color: var(--p-button-text-primary-color);
}

.being_dragged {
    opacity: 0.5;
}

.extra_controls {
    height: 15px;
}
/*
.advanced_controls {
    margin: 5px 2px 5px 0px;
    padding: 2px;
    font-size: 75%;
    display: flex;
    justify-content: center;
    background-color: #C0808060;
}

.advanced_label {
    font-size: 80%;
    position: absolute;
    top: 6px;
    right: 22px;
    height: 15px;
    cursor: pointer;
}

.advanced_label_ {
    width: 15px;
    height: 15px;
    background-color: #00000000;
    cursor: pointer;
    left: -5px;
    top: 1px;
}

.advanced_checkbox {
    margin: 0px;
}*/


.empty_message {
    display: block;
    font-size: 70%;
    text-align: center;
    width: var(--element_width);
    margin-right:5px;
}

/* Node block */

.nodeblock {
    margin: 0px 0px 5px 0px;
    position: relative;
    width: var(--element_width);
    min-height: 40px;
    display:block;
    padding-bottom: 4px;
}

.nodeblock.minimised {
    min-height: 20px;
    padding-bottom: 0px;
    height: 20px;
    overflow: hidden;
}

.nodeblock_titlebar {
    font-size: 80%;
    display: block;
    padding: 1px 3px 2px 2px;
    color: var(--mid-fore-color);
}

.minimisedot {
    padding: 0px 4px 0px 0px;
    cursor: url(collapse.png) 8 8, zoom-out;
    position: relative;
    font-size: 125%;
    top: 1px;
}

.nodeblock.minimised  .nodeblock_minimisedot {
    cursor: url(expand.png) 8 8, zoom-out;
}

.titlebar_nocolor {
    border-bottom: 2px solid var(--second-back-color);
    padding-bottom: 1px;
    background-color: var(--third-back-color)
}

.nodeblock.minimised .nodeblock_titlebar {
    height:20px
}

.nodeblock.minimised .titlebar_nocolor {
    border-bottom: 2px solid var(--third-back-color);
    background-color: var(--third-back-color);
    height: 16px;
}

.nodeblock_draghandle {
    cursor: grab;
    position: absolute;
    height: 20px;
    width: calc(var(--element_width) - 32px);
    left: 16px;
}

.nodeblock_title {
    text-align: left;
    pointer-events: none;
}

.nodeblock_image {

}

.nodeblock_image_panel {
    width: 100%;
    resize: vertical;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.nodeblock_image_empty {
    width: 100%;
    height: 10px;
    border: none;
    display:none;
}

/* Entry (widget) */

.entry {
    position: relative;
    padding:4px 4px 0px 4px;
}

.entry_label {
    position: absolute;
    height: calc(var(--font-size) - 2px);
    top: 9px;
    padding-right: 6px;
    background: var(--second-back-color);
    color: var(--mid-fore-color);
    text-align: left;
    left: 8px;
    font-size: 70%;
    pointer-events: none;
    width: calc(var(--element_width) - 40px);
}

.entry_label.text {
    background: #00000000;
}

.entry_label.value {
    right: 20px;
    height: calc(var(--font-size) - 2px);
    top: 9px;
    left: unset;
    width: unset;
    color: var(--main-fore-color);
    max-width: calc(100% - 24px);
    overflow: clip;
}

.input {
    width: 100%;
    left: 25%;
    font-size: 75%;
    background-color: var(--second-back-color);
    color: var(--main-fore-color);
    border: none;
    height: 20px;
    text-align: right;
}
select.input {
    height: calc(var(--font-size) + 4px)
}

button.input {
    text-align: center;
}

textarea.input {
    height: 72px;
    resize: vertical;
    font-size: 85%;
    text-align: left;
    margin-bottom: -4px;
}

.input option {
    text-align:left;
}

.toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--second-back-color)
}

.toggle.false .toggle_value .toggle_text {
    color: var(--muted-fore-color);
}

.toggle_label {
    font-size: 70%;
    padding-left: 4px;
    color: var(--muted-fore-color);
}

.toggle_value {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
.toggle_text {
    font-size: 70%;
}

.toggle_graphic {
    font-size: 80%;
    cursor: pointer;
    padding: 1px 4px 2px 4px;
}

.toggle_graphic.true {
    color: var(--toggle-on);
}

.toggle_graphic.false {
    color: var(--toggle-off);
}

/* Footer */

.footer {
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
}


/* Global */

.hidden {
    display:none;
}

.overlay {
    position: absolute;
    text-align: right;
    bottom:10px;
    background-color: var(--overlay-background);
    color: var(--overlay-foreground);
    right: 10px;
    padding: 3px;
    border-radius: 4px;
    font-size: 80%;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility:hidden;
    background-color: #ffffff66;
    color: #353535;
    font-size: 70%;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 0px;
    top: 20px;
  }

  .tooltip.right .tooltiptext {
    right: unset;
    left: 0px;
  }

  .controller.collapsed .tooltiptext {
    top:0px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }