.controller_holder {
    height: 90vh;
    /*max-height: 90vh;*/
    resize: vertical;
    background: #1c1c1cee;
    padding: 5px 0px 5px 5px;
    position: absolute;
    overflow: hidden;
}

.controller {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    --element_width: 340px;
    resize: vertical;
    height: 100%;
}

/* Header */

.header {
    display: flex;
    width: var(--element_width);
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.header_title { }

.header_select { }

.being_dragged {
    opacity: 0.5;
}

.extra_controls {
    width: 100%
}

.advanced_controls {
    margin: 5px 5px 5px 0px;
    padding: 2px;
    font-size: 75%;
    display: flex;
    justify-content: center;
    background-color: #C0808060;
}

.advanced_label {
    position: relative;
    top: 4px;
}


.empty_message {
    font-size: 70%;
    text-align: center;
    width: 100%;
}

/* Node block */

.nodeblock {
    margin: 0px 5px 5px 0px;
    position: relative;
    width: var(--element_width);
    min-height: 40px;
}

.minimised {
    min-height: 20px;
}

.nodeblock_titlebar {
    font-size: 70%;
    display: block;
    width: 100%;
    padding: 3px 3px 3px 3px;
    color: #b3b3b3;
}

.nodeblock_minimisedot {
    padding: 0px 4px 0px 4px;
    cursor: url(collapse.png) 8 8, zoom-out;
}

.nodeblock_minimisedot_minimised {
    cursor: url(expand.png) 8 8, zoom-out;
}

.titlebar_nocolor {
    border-bottom: 2px solid #2a2a2a;
    padding-bottom: 1px;
}

.nodeblock_draghandle {
    cursor: grab;
    position: absolute;
    height: 22px;
    width: calc(100% - 20px);
    top: 0px;
    left: 20px;
}

.nodeblock_title {
    text-align: left;
    pointer-events: none;
}

.nodeblock_image {

}

.nodeblock_image_panel {
    width: 100%;
    resize: vertical;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.nodeblock_image_empty {
    width: 100%;
    height: 10px;
    border: none;
    display:none;
}

/* Entry (widget) */

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:4px;
}

.entry_label {
    font-size: 65%;
    max-width: 80px;
    min-width: 80px;
    text-align: right;
    margin-right: 4px;
    pointer-events: none;
}

.input {
    width: 100%;
    font-size: 75%;
    background-color: #222222;
    border: none;
    height: 20px;
}

textarea.input {
    height: 72px;
    resize: vertical;
    max-height: 80vh;
    font-size: 85%;
}



/* Global */

.hidden {
    display:none;
}
