
.fancy_slider {
    --full-height: 20px;
    --full-width: 250px;
    height: var(--full-height);
    width: var(--full-width);
    border:0;
    padding:0;
    margin:0;
    position: relative;
}

.fs_graphic {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--full-height);
    width: var(--full-width);
    background: rgb(80 80 80);
    pointer-events: none;
}

.fs_graphic_fill {
    position: absolute;
    left: 0;
    top: 0;
    height: var(--full-height);
    /*width set dynamically*/
    background: #4772b3;
    border-right: thin solid #759edc;
    pointer-events: none;
}

.fs_graphic_text {
    position: absolute;
    height: calc(var(--full-height) -4);
    top: 3px;
    width: var(--full-width);
    background: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: small;
    pointer-events: none;
}

.fs_text_edit {
    position: absolute;
    height: var(--full-height);
    width: var(--full-width);
    background: black;    
}

.can_drag {
    cursor:ew-resize;
}